.sidebar-container {
  height: calc(100vh - 80px)
}

.side-bar-nav {
  width:140px;
}

.total-todos {
  background-color: red;
  border-radius: 50%;
  padding:2px;
  height: 20px;
  text-align: center;
  line-height: 21px;
  position: absolute;
  top: 0px;
  right: 8px;
  color: white;
  font-size: 13px;
  min-width: 20px;
}
