.floating-button {
  position: absolute;
  top: calc(100vh - 160px);
  left: calc(100vw - 220px);
}

.card-padding {
  box-sizing: border-box;
  margin: 20px
}

.completed {
  background-color: green;
  transition: background-color 0.5s ease;
  & mat-icon {
    color:white;
    transition: color 0.5s ease;
  }
  & h4 {
    color:white;
    transition: color 0.5s ease;
  }
}
