.floating-button {
  position: fixed;
  bottom: 20px;
  right:20px;
}

.card-padding {
  box-sizing: border-box;
  margin: 20px
}

mat-list-item {
  transition: background-color 0.5s ease;
}

.completed {
  background-color: green;
  transition: background-color 0.5s ease;
  & mat-icon {
    color:white;
    transition: color 0.5s ease;
  }
  & h4 {
    color:white;
    transition: color 0.5s ease;
  }
}
